{% extends 'layout.twig' %}

{% block content %}
	<div id="about">
		<div class="centerblock">		
			<img class="left" src="{{asset('img/')}}about_0.jpg">
			<img class="right" src="{{asset('img/')}}about_1.jpg">
			<section>
				{% for oneP in about %}
				<p>{{oneP|raw}}</p>
				{% endfor %}				
			</section>
		</div>
	</div>

{% endblock %}