&.home {
    margin: 0;
    width: 80%;
}

.banner {
    padding: 0 @gq;
}

.socials {
    li {
        padding: 0.5rem 1rem;
    }
    img {
        width: 32px;
    }
}

/*header {
    padding: 0.75rem 0.75rem 0.6rem;
}*/

#calculator {
    position: relative;
    padding: 0;
    .first {
        display: block;
        padding: 1.25rem 0;
        font-size: 0;
        >div {
            padding: 0 0.625rem;
        }
    }
    .second {
        width: 20%;
        display: block;
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 10;
        overflow-y: hidden;
        .valutaSelect {
            position: absolute;
            left: 0;
            top: 70px;
            right: 0;
            bottom: 0;
            overflow: hidden;
            width: auto;
            ul {
                li {
                    display: block;
                    width: auto;
                }
            }
        }
        .typeSelect {
            position: relative;
            left: auto;
            width: 100%;
        }
        ul {
            li {
                a{
                    line-height: 4.5rem
                }
            }
        }
    }
}

.content {
    h1 {
        font-size: 1.25rem;
    }
}

.content {
    .boxcontainer {
        width: 50%;
    }
}
