@headerHeight: 410px;

nav{
    display: none;
}

header {
    height: @headerHeight;
    background-image: url('@{imgSrc}header_1024.jpg');
    margin-bottom: 2rem;
/*
    a.logo{
        margin: 1rem 0 0 6rem;
        width: 36px;
        height:42px;
    }
    */
    h1{
        font-size: 1.3rem;
        top: @headerHeight/2+35px;
        right: 15.5%;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 0.4em;
        line-height: 1.5;
        position: absolute;
        text-align: right;
        display: block;
    }    
}

#projects {
    section{
        position: static;
        img{
            padding: 0 0 0 0;
            margin: 0 0 0 0;
            width: 100%;
            display: block;
            position: relative;
            float: none;
        }
        .holder{
            float: none;
            width: 100%;
            height: 40rem;
            display: inline-block;
            position: relative;
        }        
    }
    section:nth-child(2n){    
        img{
            margin-left: 0;
        }
    }
    section:nth-child(2n-1){    
        img{
            margin-right: 0;
        }
    }
}
